.container_list {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.container_list p {
    margin-right: 0.1%;
    border-right: 1px solid black;
}

.container_list div {
    background-color: antiquewhite;
    width: 200px;
}