.container_nav {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.container_nav ul {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.container_nav ul li {
    list-style: none;
    padding: 10px;
}

.container_nav ul li a {
    border-radius: 10%;
    text-decoration: none;
    color: #000000;
    
}

.active {
    background-color: rgb(196, 196, 196);
    border: 1px solid #000000;
    padding: 10px;
}